*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sec1{
    padding: 25px 0;
    border-bottom: 2px solid white;
    overflow: hidden;
    background-color: rgb(32, 28, 28);
}
#bb{
    float: left;
    width: 35%;
    text-align: center; 
    color: white;
    font-size: 30px;  
}

#nav1 li{
    float: left;
}


#nav1 ul{
    list-style-type: none;
    float: left;
}

#nav1 a{
    display:inline-block;
    text-decoration: none;
    padding: 0 25px;
    color: white;
    font-size: 25px;
}
#nav1 a:hover{
    color: rgba(0, 128, 0, 0.726);
    /* border: 1px solid white; */
    /* padding: 15px; */
    border-radius: 15px;
    
}

#nav2 ul{
    list-style-type: none;
    float: left;

}

#nav2 li{
    float: left;
}

#nav2 a{
    text-decoration: none;
    padding: 0 25px;
    font-size: 20px;
    color: white;
    display: inline-block;

}

#nav2 #two{
    padding-top: 15px;
    padding-left: 40px
}


#backg{
    float: left;
    padding: 55px 0;

}
#beauty{ 
    width: 50%;
    padding-left: 55px;
    float: left;
    
}
#beauty p{
    padding: 55px 0;
    color: brown;
    font-style: italic;
    font-size: 25px;
}

#beauty span{
    color: white;
    font-size: 35px;
}

#only{
    border: 1px solid white;
    padding: 15px;
    border-radius: 15px;
}
#only a:hover{
    color: brown;
}

#two a:hover{
    border-bottom: 1px solid brown;
}


/* FEATURES */



#child1 p{
    padding-left: 40px;
    padding: 45px 40px;
    color: black;
    font-style: italic;
    font-size: 30px;
    
}

#child1 h1{
    font-size: 45px;
    text-align: center;
    
    
}
.features{
    padding-top: 25px;
    text-align: center;
    
}


.features p{
    margin-top: 30px;
    font-size: 35px;
    margin-bottom: 15px;
    color: black;
}

#f1{
    width: 25%;
    float: left;
    
    
}
#f2{
    float: left;
    width: 25%;
}

#f3{
    float: left;
    width: 25%;
}

#f4{
    float: left;
    width: 25%;
}

.features span{
    font-size: 25px;
    font-style: italic;


}
.img{
    width: 100%;
    height: 210px;
    padding-right: 10px;
}



/* SERVICES */


.sec3 #ser{
    font-size: 45px;
    text-align: center;
    margin-top: 80px;
    color: white;
    padding: 50px 0;
    background-color: rgb(32, 28, 28);
}


.height{ 
    height: 200px;
}
#d1{
    float: left;
    width: 50%;
    text-align: center;
    background-color: rgb(32, 28, 28);

}

#d1 h1{
    padding: 15px 0;
    color: white;
    font-size: 30px;
}
#d1 p{
    font-size: 25px;
    padding: 5px 15px;
    color: white;
}

#d2{
    float: left;
    width: 50%;
    text-align: center;
    background-color: rgb(32, 28, 28);
    padding-top: 35px;
   
}

#d2 p{
    font-size: 25px;
    padding: 5px 15px;
    color: white;
    
}

#d2 h1{
    padding: 15px 0;
    color: white;
    font-size: 30px;
}

#comb{
    margin-bottom: 28px;
}


/* PRODUCT */
 
 #contain{
    font-size: 45px;
    padding-right: 40px;
    padding-top: 40px;
    mask-border-width: 20%;
    border-bottom: 1px solid rgb(32, 28, 28);;
    /* background-color: rgb(32, 28, 28);; */
}

.sec4 h2{
    font-size: 45px;
    font-style: italic;
    text-align: center;
    /* padding: 60px 0; */
    background-color: rgb(32, 28, 28);
    /* color: white; */
}


.sec4 h1{
    font-size: 35px;
    padding: 50px;
    text-align: center;
}

#pt{
    float: left;
    width: 100%;


    
}

#pi{
    float: left;
    width: 40%;
    height: 300px;


}

#pt h1{
    font-size: 50px;
    padding-left: 160px;
}
#ppimg{
    margin: 0 200px;
}
.pimg{
    /* background-color: rgb(32, 28, 28); */
    height: 370px;
    width: 100%;

}

#pimg1{
    float: left;
    width: 50%;
    padding-right: 20px;
}
#pimg2{
    float: left;
    width: 50%;
    padding-left: 20px;
}

#click{
    clear: both;
    font-size: 25px;
    padding: 25px;

}

#click a{
    color: brown;
}
#oil{
    width: 30%;
    float: left;
    height: 350px;
    margin-bottom: -5px;

} 
#back{
    float: left;
    width: 35%;
    
}

#cos{
    float: left;
    width: 35%;
}


#bea{
    float: left;
    width: 30%;

}
.back{
    width: 100%;
    height: 370px;
}


/* CONTACT */

.sec5{
    clear: both;
}

.con{
    width: 100%;
}
#con{
    width: 50%;
    float: left;
}

.sec5 h5{
    float: left;
    font-size: 45px;
    text-align: center;
    width: 50%;
    /* padding: 190px; */
    color: white;
    background-color: rgb(32, 28, 28);
    height: 380px;
    padding-top: 160px;
    
    

    
}

#wi{
    float: left;
    clear: both;
    width: 35%;
    text-align: center;
    padding: 25px 0;
    background-color: rgb(32, 28, 28);
    color: white;
    margin-top: -5px;
    

}

#add{
    float: left;
    width: 30%;
    text-align: center;
    font-size: 25px;
    /* padding-top: 95px; */
    background-color: rgb(32, 28, 28);
    color: white;
    padding-bottom: 26px;
    margin-top: -5px;
}
#bod{
    float: left;
    width: 35%;
    text-align: center;
    padding: 25px 0;
    color: white;
    background-color: rgb(32, 28, 28);
    margin-top: -5px;

}
#office{
    font-size: 40px;
    padding: 25px 0;
    color: white;
}
#work{
    clear: both;
    font-size: 40px;
    color: white;
}

#wi #open{
    font-size: 30px;
    padding-top: 25px;
    line-height: 45px;
}

#bod #han{
    font-size: 40px;
    padding-bottom: 25px;
}
#bod a{
    font-size: 25px;
    line-height: 56px;
    text-decoration: none;
    color: white
}
#address{
    font-size: 30px;
    line-height: 37px;
}

  
